html, body {
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Alegreya', serif;
    font-size: 14pt;
    background: white;
    background: -moz-linear-gradient(left, white, white) repeat-y, #909098;
    background: -webkit-linear-gradient(left, white, white) repeat-y, #909098;
    background: -o-linear-gradient(left, white, white) repeat-y, #909098;
    background: linear-gradient(to left, white, white) repeat-y, #909098;
}

body {
    position: relative;
}

[hidden] { display: none !important; visibility: hidden !important; }

#whatis {
    text-align: right;
    margin-right: 20px;
    margin-top: 8px;
    text-transform: lowercase;
}

#whatis a {
    text-decoration: none;
    font-size: 16pt;
}

#info {
    display: none;
    padding: 0.5em;
    margin-bottom: 24px;
    font-size: 12pt;
}

#info table {
    width: 100%;
    table-layout: fixed;
}

#info table tr:nth-child(1) {
    text-align: center;
}
#info table tr:nth-child(2) {
    text-align: left;
}

#info td {
    padding: 0 1em;
}

header {
    text-transform: lowercase;
    position: relative;
}

#logo {
    position: absolute;
    z-index: 1;
    top: -24px;
    left: 0.85em;
    width: 160px;
    height: 160px;
    border-radius: 0.85em;
    box-shadow: 2pt 2pt 5pt black;
    background: url(/images/logo.png), #ff7560;
    background: url(/images/logo.png), -moz-linear-gradient(top, #ff937a, #ff5847);
    background: url(/images/logo.png), -webkit-linear-gradient(top, #ff937a, #ff5847);
    background: url(/images/logo.png), -o-linear-gradient(top, #ff937a, #ff5847);
    background: url(/images/logo.png), linear-gradient(to bottom, #ff937a, #ff5847);
    background-image: -webkit-image-set(url(/images/logo.png) 1x, url(/images/logo@2x.png) 2x),
                -webkit-linear-gradient(top, #ff937a, #ff5847);
}

#logo img {
    position: absolute;
}

@media (max-width: 550px) {
    #logo {
        display: none;
    }
}

h1 {
    position: relative;
    background-color: #444;
    color: white;
    text-align: right;
    margin: 0 -10px;
    padding-right: 30px;
    font-family: 'Overlock', sans-serif;
    font-size: 48pt;
    box-shadow: 1pt 1pt 4pt black;
    text-shadow: 2pt 2pt 3pt #666, -2pt -2pt 3pt #222;
}

.error {
    padding: 4pt;
    box-shadow: 2pt 2pt 5pt black;
    border-radius: 12pt;
    display: none;
    background: darkorange;
    background: -moz-linear-gradient(top, orange, darkorange);
    background: -webkit-linear-gradient(top, orange, darkorange);
    background: -o-linear-gradient(top, orange, darkorange);
    background: linear-gradient(to bottom, orange, darkorange);
}

.body {
    margin: auto;
    margin-top: 1.7em;
    padding: 0.85em;
    max-width: 500px;
}

.body > p {
    margin: 0.5em 0 0.5em 0;
}
.body > p:first-child {
    margin-top: 0;
}
.body > p:last-child {
    margin-bottom: 0;
}

table.form-box {
    margin: 0 auto 0 auto;
    text-align: left;
}
table.form-box > tbody > tr > td:first-child {
    padding-right: 0.5em;
    text-align: right;
}
table.form-box > tbody > tr > td:only-child {
    padding: 0;
    text-align: center;
}

.button-box > button {
    width: 48%;
    margin: 0 1% 0 1%;
    float: left;
}
.button-box::after { clear: both; content: ""; display: block; }

#alert td:first-child {
    text-align: center;
    font-size: 2em;
    padding-right: 0.3em;
}

#alert-content {
    text-align: left;
    max-width: 300px;
}

.login {
    box-shadow: 1pt 1pt 4pt black;
    background: #ddd;
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(to bottom, #eee, #ccc);
}

.login-message {
    text-align: center;
}
.logout-message {
    text-align: right;
}

.logout-link {
    font-size: 0.8em;
}

.login td {
    height: 30pt;
}

.login .container {
    position: relative;
}

.login input {
    border: 1px solid #888;
    border-radius: 2px;
    font-family: 'PT Mono', monospace;
    font-size: 14pt;
}

.login .error {
    position: absolute;
    top: -4pt;
    left: 100%;
    margin-left: 4pt;
    white-space: pre;
}

button {
    width: 100%;
    font-family: 'Alegreya', serif;
    font-size: 1em;
}

.authed {
    text-align: center;
    box-shadow: 1pt 1pt 4pt black;
    background: #ddd;
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(to bottom, #eee, #ccc);
}

.authed .client-principal {
    margin-bottom: 1em;
}

.identifier {
    font-family: 'PT Mono', monospace;
    font-size: 18pt;
}

.permission-list {
    text-align: left;
    margin-top: 0;
}

.permission-list > li.dangerous {
    font-weight: bold;
    list-style-image: url(/images/dangerous.png);
}
