html, body {
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: auto;
    text-transform: lowercase;
    font-family: 'Alegreya', serif;
    background: white;
    background: -moz-linear-gradient(left, white, white) repeat-y, #909098;
    background: -webkit-linear-gradient(left, white, white) repeat-y, #909098;
    background: -ms-linear-gradient(left, white, white) repeat-y, #909098;
    background: -o-linear-gradient(left, white, white) repeat-y, #909098;
}

#whatis {
    text-align: right;
    margin-right: 20px;
    margin-top: 8px;
}

#whatis a {
    text-decoration: none;
    font-size: 16pt;
}

#info {
    display: none;
    padding: 0.5em;
    margin-bottom: 24px;
    text-transform: none;
    font-size: 12pt;
}

#info table {
    width: 100%;
    table-layout: fixed;
}

#info table tr:nth-child(1) {
    text-align: center;
}
#info table tr:nth-child(2) {
    text-align: left;
}

#info td {
    padding: 0 1em;
}

header {
    position: relative;
}

#logo {
    position: absolute;
    z-index: 1;
    top: -24px;
    left: 1em;
    width: 160px;
    height: 160px;
    border-radius: 1em;
    box-shadow: 2pt 2pt 5pt black;
    background: url(logo.png), #ddd;
    background: url(logo.png), -moz-linear-gradient(top, #fff, #ddd);
    background: url(logo.png), -webkit-linear-gradient(top, #fff, #ddd);
    background: url(logo.png), -ms-linear-gradient(top, #fff, #ddd);
    background: url(logo.png), -o-linear-gradient(top, #fff, #ddd);
    background-image: -webkit-image-set(url(logo.png) 1x, url(logo@2x.png) 2x),
                -webkit-linear-gradient(top, #fff, #ddd);
}

#logo img {
    position: absolute;
}

h1 {
    position: relative;
    background-color: #444;
    color: white;
    text-align: right;
    margin: 0 -10px;
    padding-right: 30px;
    font-family: 'Overlock', sans-serif;
    font-size: 48pt;
    box-shadow: 1pt 1pt 4pt black;
    text-shadow: 2pt 2pt 3pt #666, -2pt -2pt 3pt #222;
}

header ~ * * {
    font-size: 14pt;
}

.error {
    padding: 4pt;
    box-shadow: 2pt 2pt 5pt black;
    border-radius: 12pt;
    display: none;
    background: darkorange;
    background: -moz-linear-gradient(top, orange, darkorange);
    background: -webkit-linear-gradient(top, orange, darkorange);
    background: -ms-linear-gradient(top, orange, darkorange);
    background: -o-linear-gradient(top, orange, darkorange);
}

table.body {
    margin: auto;
    margin-top: 2em;
    padding: 1em;
}

#alert td:first-child {
    text-align: center;
    font-size: 2em;
    padding-right: 0.3em;
}

#alert-content {
    text-align: left;
    max-width: 300px;
}

#login {
    position: absolute;
    left: 0;
    right: 0;
}

#login table {
    text-align: right;
    box-shadow: 1pt 1pt 4pt black;
    background: tomato;
    background: -moz-linear-gradient(top, lightsalmon, tomato);
    background: -webkit-linear-gradient(top, lightsalmon, tomato);
    background: -ms-linear-gradient(top, lightsalmon, tomato);
    background: -o-linear-gradient(top, lightsalmon, tomato);
}

#login td {
    height: 30pt;
}

#login .container {
    position: relative;
}

#login input {
    border: 2px inset chocolate;
    font-family: 'PT Mono', monospace;
}

#login .error {
    position: absolute;
    top: -4pt;
    left: 100%;
    margin-left: 4pt;
    white-space: pre;
}

button {
    width: 100%;
    text-transform: lowercase;
    font-family: 'Alegreya', serif;
    font-size: 1em;
}

#authed {
    text-align: center;
    display: none;
    box-shadow: 1pt 1pt 4pt black;
    background: olivedrab;
    background: -moz-linear-gradient(top, limegreen, olivedrab);
    background: -webkit-linear-gradient(top, limegreen, olivedrab);
    background: -ms-linear-gradient(top, limegreen, olivedrab);
    background: -o-linear-gradient(top, limegreen, olivedrab);
}

#authed #principal {
    padding-bottom: 1em;
}

#authed .principal {
    text-transform: none;
    font-family: 'PT Mono', monospace;
    font-size: 18pt;
}
