html, body {
    margin: 0;
    padding: 0;
    background-color: honeydew;
    text-transform: lowercase;
    font-family: 'Alegreya', serif;
}

#whatis {
    text-align: right;
    margin-right: 20px;
    margin-top: 8px;
    font-size: 14pt;
}

#whatis a {
    text-decoration: none;
}

#info {
    display: none;
    padding: 0.5em;
    margin-bottom: 24px;
    text-transform: none;
}

header {
    position: relative;
}

#logo {
    position: absolute;
    z-index: 1;
    top: -24px;
    left: 1em;
    border-radius: 1em;
    box-shadow: 2pt 2pt 5pt black;
    background: white;
    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-linear-gradient(top, #fff, #ddd);
    background: -ms-linear-gradient(top, #fff, #ddd);
    background: -o-linear-gradient(top, #fff, #ddd);
}

h1 {
    position: relative;
    background-color: #666;
    color: honeydew;
    text-align: right;
    margin: 0;
    padding-right: 20px;
    font-family: 'Overlock', sans-serif;
    font-size: 48pt;
    box-shadow: 1pt 1pt 4pt black;
    text-shadow: 2pt 2pt 3pt #888, -2pt -2pt 3pt #444;
}

#login {
    margin: auto;
    text-align: right;
    margin-top: 2em;
    padding: 0.5em;
    box-shadow: 1pt 1pt 4pt black;
    background: tomato;
    background: -moz-linear-gradient(top, salmon, tomato);
    background: -webkit-linear-gradient(top, salmon, tomato);
    background: -ms-linear-gradient(top, salmon, tomato);
    background: -o-linear-gradient(top, salmon, tomato);
}

#login td {
    height: 30pt;
}

#login .container {
    position: relative;
}

#login input {
    border: 2px inset chocolate;
}

#login .error {
    position: absolute;
    line-height: 16pt;
    top: -25%;
    left: 100%;
    margin-left: 4pt;
    white-space: pre;
    padding: 4pt;
    background-color: orange;
    box-shadow: 2pt 2pt 5pt black;
    border-radius: 12pt;
    display: none;
}

#login button {
    width: 100%;
    text-transform: lowercase;
    font-family: 'Alegreya', serif;
    font-size: 1em;
}
